<a href="https://colab.research.google.com/github/jkbells/Data-structure-using-python/blob/main/Real_World_Sorting%2C_Sorting_Custom_Data%2C_Anonymous_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sorting in the Real World**

# *Descending Sorts*

In [3]:
def selection_sort(l):
  n = len(l)

  # for each element in the list (starting from left)
  for i in range(n):
    idx = i   # find the replacement ....

    # .... in the +rest+ of the list
    for j in range(i+1, n):

      if l[j] > l[idx]:  # changed to > for descending
        idx = j

   # swap the replacement with current element, now we have (sorted stuff till i)
    l[i] , l[idx] = l[idx], l[i]

In [5]:
l = [1,2,4,1,2,5,5,6,1,110,15]
selection_sort(l)
print(l)

[110, 15, 6, 5, 5, 4, 2, 2, 1, 1, 1]

**But there's better way**

In [6]:
def less_than(a, b):
  return a < b

In [16]:
def selection_sort(l , compare_with):
  n = len(l)

  # for each element in the list (starting form left)
  for i in range(n):
    min_idx = i      # find the mininum ... 

    # ..... is the *rest* of the list
    for j in range(i+1, n):

      if compare_with(l[j] , l[min_idx]):   # now the *comparison is out-source
        min_idx = j

      # swap the minimum with current element, now we have (sorted stuff till i)
      l[i], l[min_idx] = l[min_idx], l[i]

In [17]:
l = [1, 2, 4, 1, 2, 5, 6, 1, 110, 15]
selection_sort(l, less_than)
print(l)

[1, 1, 1, 2, 2, 4, 5, 6, 15, 110]

In [18]:
def greater_than(a, b):
  return a > b

In [19]:
l = [1, 2, 4, 1, 2, 5, 5, 6, 1, 110, 15]
selection_sort(l, greater_than)
print(l)

[15, 110, 6, 5, 5, 4, 2, 2, 1, 1, 1]

# **Taking it Even Further**

Now we call do all sorts of stuff with this without making a single change to our selection sort code.

In [20]:
all_tuples = [ (24,25), (1,2), (2,4), (3,5) ]

In [21]:
def tuple_less_than(a, b):
  return sum(a) < sum(b)
def tuple_greater_than(a, b):
  return sum(a) > sum(b)

In [23]:
print("Ascending:\t", end="")
selection_sort(all_tuples, tuple_less_than)
print(all_tuples)

print("Descending:\t", end="")
selection_sort(all_tuples,tuple_greater_than)
print(all_tuples)

Ascending:	[(1, 2), (3, 5), (2, 4), (24, 25)]
Descending:	[(24, 25), (2, 4), (3, 5), (1, 2)]

# **Sorting in Python**

if you have a list of dictionaries -- each representing a student, for instance

In [29]:
 d = [
      {'name': 'khalid' , 'age': 5  },
      {'name': 'usman'  , 'age': 7  },
      {'name': 'ali'    , 'age': 12 },
      {'name': 'farooq' , 'age': 3  },
 ]

In [30]:
def d_less_than(a ,b):
  return a['age'] < b['age']

selection_sort(d, d_less_than)
print(d)

[{'name': 'farooq', 'age': 3}, {'name': 'khalid', 'age': 5}, {'name': 'usman', 'age': 7}, {'name': 'ali', 'age': 12}]

In [31]:
def student_age(a):
  return a['age']

In [32]:
print(d)
d.sort(key=student_age)
print(d)

[{'name': 'farooq', 'age': 3}, {'name': 'khalid', 'age': 5}, {'name': 'usman', 'age': 7}, {'name': 'ali', 'age': 12}]
[{'name': 'farooq', 'age': 3}, {'name': 'khalid', 'age': 5}, {'name': 'usman', 'age': 7}, {'name': 'ali', 'age': 12}]

# **Sorting Objects of Custom Classes**

In [2]:
 class Student:
   def __init__(self,name,age):
     self.name = name
     self.age = age
   def __str__(self):
    return self.name + ':' + str(self.age)

In [4]:
s1 = Student('Wajid', 5)
s2 = Student('Usman', 5)
s3 = Student('Ali', 5)

s = [s1 , s2 , s3]

You don't even have to give the function a name -- just use an anonymous function like so:

In [5]:
for i in ss1 = Student('Wajid', 5)
:
  print(i)

Wajid:5
Usman:5
Ali:5

In [9]:
s.sort(key=lambda x: x.age)   # reverse

In [10]:
for i in s:
  print(i)

Wajid:5
Usman:5
Ali:5