<a href="https://colab.research.google.com/github/jawmatlo/Data-structure-using-python/blob/main/Recursion%20with%20Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Recursion**

# **Square Root**

No, we're not doing this . Enough is enough!

# **Factorial**

In [5]:
def fact(n):
  # base case
  if n<= 1:
    return 1

  # induction case
  return n*fact(n-1)

In [6]:
for i in range(1, 7):
  print("Factorial of: , i , is" , fact(i))

Factorial of: , i , is 1
Factorial of: , i , is 2
Factorial of: , i , is 6
Factorial of: , i , is 24
Factorial of: , i , is 120
Factorial of: , i , is 720

# **Fib**

In [7]:
def fib(n):
  if n <= 1:
    return 1

  return fib(n-1) + fib(n-2)   # more stuff after recursive call

In [8]:
%timeit fib(20)

100 loops, best of 5: 2.93 ms per loop

In [12]:
def fib(n):
  a , b = 1,1
  for i in range(n):
    a, b = b, a+b
  return a

In [13]:
fib(5)   # 1,1,2,3,5,8

8

In [14]:
def fib(n , a = 0 , b = 1):
  if n == 0:
    return a

  return fib(n-1 , b , a+b)  # since everything is done at the last call, this is called tail-recursion

In [15]:
fib(8)

21

# **Tower of Hanoi**

In [2]:
def tower_of_hanoi(levels=3):
  move_tower(levels, 'A' , 'C' , 'B') # move n-level tower from A to C using us aux


def move_tower(l, fr , to, ax):
  if  l== 1:
    print_move(l, fr , to)
    return 

  move_tower(l-1, fr, ax, to)
  print_move(l, fr , to)
  move_tower(l-1 , ax, to , fr)

def print_move(l ,fr, to):
  print("Move: " , l , "from" , fr , "to" , to)

In [5]:
tower_of_hanoi(4)

Move:  1 from A to B
Move:  2 from A to C
Move:  1 from B to C
Move:  3 from A to B
Move:  1 from C to A
Move:  2 from C to B
Move:  1 from A to B
Move:  4 from A to C
Move:  1 from B to C
Move:  2 from B to A
Move:  1 from C to A
Move:  3 from B to C
Move:  1 from A to B
Move:  2 from A to C
Move:  1 from B to C

# **Sum Over a List**

In [6]:
def sum_list(l):
  sum = 0
  for i in l:
    sum += i
  return sum

In [7]:
l = [1, 2, 3, 4, 5]

In [8]:
sum_list(l)

15

In [9]:
def sum_list_recursive(l):
  if len(l) == 0:                          #  base case: sum of empty list is 0
    return 0

  return l[0] + sum_list_recursive(l[1:])  # induction case : head + sum of the

In [10]:
sum_list_recursive(l)

15